.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #56a5eb;
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms; /*Moves up the box shadow when hovering*/
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: darkblue;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    animation: fadeIn 700ms;    
    background-color: greenyellow;
}

.correct:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem rgba(173, 255, 47, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms; /*Moves up the box shadow when hovering*/
}

.incorrect {
    animation: fadeIn 700ms;    
    background-color: #ff0000;
}

.incorrect:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem rgba(255, 0, 0, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms; /*Moves up the box shadow when hovering*/
}

@keyframes fadeIn {
    0% { opacity: 0.0; }
    100% { opacity: 1; }
}

/* HUD */

#hud {
    display: flex;
    justify-content: space-between;
    font-size: min(4vw, 2rem);
}

.hud-prefix {
    text-align: center;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    max-width: 30rem;
    width: 40vw;
    height: 4rem;
    border: 0.3rem solid #56a5eb;
    margin-top: 1.1rem;
}

#progressBarFull {
    height: 3.5rem;
    background-color: #56a5eb;
    width: 0%;
}